.footer{
  background-color: rgb(20, 20, 20);
  height: 22vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif

}

.footer li{
  font-size: 0.9em;
}
